<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121477432287-8u1gicltvs1fifp1p2anomrjlggd2583.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121477432287-8u1gicltvs1fifp1p2anomrjlggd2583</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121477432287-t8pmmnaht84d6co72gsjv460vgg323f6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDmxgBuuKaaUucEDk1YnGlLHjgeLL_3LOI</string>
	<key>GCM_SENDER_ID</key>
	<string>121477432287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.nexttrip</string>
	<key>PROJECT_ID</key>
	<string>next-trip-a22d1</string>
	<key>STORAGE_BUCKET</key>
	<string>next-trip-a22d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121477432287:ios:efc47d2e1f3a743f05ba6a</string>
	<key>DATABASE_URL</key>
	<string>https://next-trip-a22d1-default-rtdb.firebaseio.com</string>
</dict>
</plist>